:host {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
}

.domCanvasWrapper {
  height: 100vh;
  min-height: 900px;
}

.domCanvas {
  outline: none; /* prevents focus outline */
  /* border: 1px solid red; */
}
