:host {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}

/* .testMessage {
  color: red;
}

.testDiv {
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('./assets/test.jpg')
} */
