:host {

}

.domCanvasWrapper {
  /* 100% render */
  /* width: 7225px; */
  /* height: 9463px; */

  /* 1/8 downscale for editing */
  width: 903px;
  height: 1183px;
}

.domCanvas {
  outline: none; /* prevents focus outline */
  border: 1px solid red;
}
