:host {

}

.domCanvasWrapper {
  /* 100% render */
  /* width: 7225px; */
  /* height: 9463px; */

  /* 1/8 downscale for editing */
  width: 100%;
  height: 1200px;
}

.domCanvas {
  outline: none; /* prevents focus outline */
  /* border: 1px solid red; */
}
