:host {
  position: static;
  z-index: 1;
}

.domChapter {
  position: absolute;
  max-width: 810px;
  font-family: 'Lausanne 500';
  font-weight: 500;
  font-style: normal;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 50px;
  pointer-events: none;

  opacity: 0.0;
}

.domChapter.positionTop {
  top: 250px;
}

.domChapter.positionBottom {
  bottom: 80px;
  left: 100px;
}

.domTitleWrapper {
  position: absolute;
  font-family: 'Saol Display';
  font-weight: 600;
  font-style: normal;
  font-size: 65px;
  text-transform: uppercase;
  letter-spacing: 40px;
  pointer-events: none;

  color: #ffddeb;
  /* color: #999b9a; */
  mix-blend-mode: difference;
}

.domTitleWrapper .domTitleSplit .domTitleCharacterSplit {
  display: inline-block;

  opacity: 0.0;
}

.domTitleWrapper.positionTop {
  top: 300px;
}

.domTitleWrapper.positionBottom {
  bottom: 120px;
  left: 100px;
}
