:host {
  position: static;
  z-index: 0;
}

.domCanvasWrapper {
  height: 100vh;
  min-height: 900px;
}

.domCanvas {
  outline: none; /* prevents focus outline */
  /* border: 1px solid red; */

  opacity: 0;
}
