:host {}

.domChapter {
  position: absolute;
  top: 250px;
  left: 200px;
  max-width: 810px;
  font-family: 'Lausanne 500';
  font-weight: 500;
  font-style: normal;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 50px;
  color: white;
  pointer-events: none;

  opacity: 0.0;
}

.domTitleWrapper {
  position: absolute;
  top: 300px;
  left: 200px;
  max-width: 810px;
  font-family: 'Saol Display';
  font-weight: 600;
  font-style: normal;
  font-size: 65px;
  text-transform: uppercase;
  letter-spacing: 40px;
  color: white;
  pointer-events: none;
}

.domTitleWrapper .domTitleSplit .domTitleCharacterSplit {
  display: inline-block;
  opacity: 0.0;
}
